body {
  background-color: #bae7ee;
  color: #000000;
  font-family: Arial, sans-serif;
  padding: 2rem;
}

label {
  display: block;
  margin-top: 1rem;
}

input {
  padding: 0.5rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  margin-top: 1.5rem;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #7886c5;
}

.img {
  border-radius: 20%;
  width: 75px;
}

#mainTableHighscore {
  width: auto;
  padding: 8px;
  text-align: left;
  border: 1px solid black;
}

#container {
  width: 100%;
  overflow: auto;
  border: 1px solid black;
  visibility: hidden;
}

#title {
  text-align: center;
  size: 50px;
  border: 1px solid black;
}

#registrationTitle {
  text-align: center;
  size: 35px;
  border-bottom: 1px solid black;
}

#registrationForm {
  text-align: center;
  border-bottom: 1px solid black;
}

#highscoreTitle {
  text-align: center;
  size: 35px;
  border: 1px solid black;
}

#geo {
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

#game {
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.tableLink {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration-line: underline;
  color: black;
}

.link:hover {
  text-decoration-line: underline;
  color: #52425abe;
}