#mainTableHighscore {
  width: auto;
  padding: 8px;
  text-align: left;
  border: 1px solid black;
}

#container{
  width: 100%;
  overflow: auto;
  border: 1px solid black;
  visibility: hidden;
}

#container div {
  float: left;
}

#title {
  text-align: center;
  size: 50px;
  width: 30%;
  height: 20%;
  border: 1px solid black;
}

#registrationTitle {
  text-align: center;
  size: 35px;
  width: 30%;
  height: 20%;
  border: 1px solid black;
}

#registrationForm {
  width: 30%;
  text-align: left;
  height: 60%;
  border: 1px solid black;
}

#highscoreTitle {
  text-align: center;
  size: 35px;
  width: 69%;
  height: 20%;
  border: 1px solid black;
}

#geo {
  justify-content: center;
  align-items: center;
  width: 69%;
  height: 40%;
  border: 1px solid black;
  visibility: hidden;
}

#game {
  justify-content: center;
  align-items: center;
  width: 69%;
  height: 40%;
  border: 1px solid black;
  visibility: hidden;
}

.link {
  text-decoration-line: underline;
  color: black;
}

.link:hover {
  text-decoration-line: underline;
  color: #52425abe;
}